# Basic Introduction of pyspark

1. Ceate a Session
1. Reading The Dataset
1. Checking the Datatypes of the Column(Schema)
1. Selecting Columns And Indexing
1. Check Describe option similar to Pandas
1. Adding Columns
1. Dropping columns
1. Renaming Columns

## 1. spark session

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practices').getOrCreate()

In [4]:
spark

## 2. read dataset

In [5]:
#method1 

df_spark = spark.read.option('header', 'True').csv('test1.csv', inferSchema=True)

In [6]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
#check schema/ life df.info() or df.dtypes
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
# method 2 
df_spark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [13]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## 3 check schema

In [14]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [15]:
df_spark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [23]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

## 4. Select columns

In [16]:
df_spark.select('age').show()

+---+
|age|
+---+
| 31|
| 30|
| 29|
| 24|
| 21|
| 23|
+---+

In [17]:
df_spark.columns

['Name', 'age', 'Experience', 'Salary']

In [21]:
df_spark.select('Name', 'experience').show() #see you can type lower or upper case or use braked

+---------+----------+
|     Name|experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [22]:
df_spark.select(['Name', 'experience', 'salary']).show()

+---------+----------+------+
|     Name|experience|salary|
+---------+----------+------+
|    Krish|        10| 30000|
|Sudhanshu|         8| 25000|
|    Sunny|         4| 20000|
|     Paul|         3| 20000|
|   Harsha|         1| 15000|
|  Shubham|         2| 18000|
+---------+----------+------+

## 5.  Describe options

In [24]:
df_spark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

## 6. Adding columns

In [26]:
df_spark= df_spark.withColumn('experience_2_years', df_spark['Experience'] + 2)

In [27]:
df_spark.show()

+---------+---+----------+------+------------------+
|     Name|age|Experience|Salary|experience_2_years|
+---------+---+----------+------+------------------+
|    Krish| 31|        10| 30000|                12|
|Sudhanshu| 30|         8| 25000|                10|
|    Sunny| 29|         4| 20000|                 6|
|     Paul| 24|         3| 20000|                 5|
|   Harsha| 21|         1| 15000|                 3|
|  Shubham| 23|         2| 18000|                 4|
+---------+---+----------+------+------------------+

## 7. Dropping columns

In [28]:
df_spark = df_spark.drop('experience_2_years')

In [29]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## 8. Renaming Columns

In [30]:
df_spark.withColumnRenamed('Name', 'Firts_name').show()

+----------+---+----------+------+
|Firts_name|age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
| Sudhanshu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+